.center {
    text-align: center;
  }
h1 {
  font-size: 46px;
}

h2 {
  font-size: 30px;
}
body {
    font-family: 'Orelega One', cursive;
    background-image: url("books.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

a {
  display: block;
  color: black;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 12px;
  font-size: 18px;
}

a:hover {
  color: #2196F3;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

img {
  height: 300px;
}

p {
  font-size: 22px;
  margin-left: 30%;
  margin-right: 30%;
}
  

  .foot {
    text-align: center;
    font-size: 8px;
    font-family: 'Courier New', Courier, monospace;
    margin: 18%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
  }
  
  